@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.container{
  border: 1px solid black;
  width: 500px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 20px;
}
.expense-title{
  text-align: center;
}
.balance-form{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
}
.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;/*it's like line height*/
  width: 500px;
  padding: 1rem;
  min-height: 250px;
  position: absolute;
  top: 25%;
  left: 33%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
}
.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}

.modal form input,
.modal form select {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
  width: 460px;
}
.modal form input[type="submit"]{
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
  font-weight: 500;
  background: green;
  color: white;
  width: 100%;
  cursor: pointer;
}
.modal form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn-close {
  transform: translate(5px, -10px);
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal{
  z-index: 1000;
}

.hidden{
  display: none;
}
#tracker .addTrack{
  padding: 9px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.expense-budget{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.expense-money{
  border: 1px solid black;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
}
.budget-money{
  border: 1px solid black;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
}
.transaction-search input{
  padding: 10px;
  width: 95%;
  border-radius: 20px;
  border: 1px solid lightgray;
  outline: none;
  margin: 10px 0;
}
.expense-list{
  display: flex;
  flex-direction: column;
}
.alert{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 7px 0;
  border-radius: 20px;
}
.btn-std{
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.expense-action svg{
  cursor: pointer;
}