body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.add-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
}
.wrap{
  width: 400px;
}
.wrap a{
  text-decoration: none;
}