body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
img{
  height: 250px;
  width: 250px;
}
.content{
  min-height: 400px;
  margin-top: 50px;
}
.presentation p{
  font-size: 20px;
}
.content a{
  text-decoration: none;
}
